.facts_top {
  padding-top: 60px;
  padding-bottom: 50px;
  @include bg;
  background-image: url('/src/img/bgs/facts-bg-top.jpg');
  min-height: 958px;

  @media (max-width: 650px) {
    padding-top: 30px;
    padding-bottom: 1 0px;
  }
}

.facts__title {
  @include title;

  &_top {
    @include max-width(704px);
  }
}

.facts__text {
  @include max-width(636px);
  margin-left: auto;
  font-size: 22px;
  line-height: 1.27;
  margin-bottom: 28px;

  span {
    font-size: 28px;
    @media (max-width: 650px) {
      font-size: 18px;
    }
  }

  @media (max-width: 1120px) {
    margin-left: 0;
    max-width: 100%;
    margin-bottom: 30px;
  }

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }

  &_top {
    position: relative;
    left: -95px;

    @media (max-width: 1120px) {
      left: 0px;
    }
  }
}

.facts__list-title {
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0;
  color: $blue;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.facts__list {
  @include reset-list;
  position: relative;

  &_top {
    &::after {
      position: absolute;
      top: -313px;
      right: -393px;
      content: url('/src/img/facts-top-img.png');

      @media (max-width: 1300px) {
        content: none;
      }
    }
  }
}

.facts__item {
  position: relative;
  padding-left: 127px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #baecf3;

  @media (max-width: 650px) {
    padding-left: 0;
    padding-top: 120px;
  }

  &:last-child {
    border-bottom: none;
  }

  &::before {
    position: absolute;
    top: 20px;
    left: 0px;

    @media (max-width: 650px) {
      left: 50%;
      transform: translateX(-50%);
      top: 12px;
    }
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i})::before {
      content: url('/src/img/icons/facts/#{$i}.svg');
    }
  }

  p {
    @include max-width(825px);
    margin-bottom: 0;
    min-height: 95px;
    font-size: 20px;
    line-height: 1.4;

    b {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
