.modal-form {
  background-color: white;
  border-radius: 16px;
  @include max-width(350px);
  padding-top: 21px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 30px;
  min-height: 445px;

  @media (max-width: 650px) {
    min-height: auto;
    padding-bottom: 20px;
  }

  &_desc {
    @media (max-width: 650px) {
      display: none;
    }
  }

  &_info {
    .modal-form__title {
      font-size: 22px;
    }
  }

  &_modal {
    width: 98%;

    .modal-form__title {
      text-align: left;
    }
  }
}

.modal-form__title {
  font-size: 24px;
  line-height: 1.21;
  margin-bottom: 28px;
  font-weight: 700;

  @media (max-width: 650px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.modal-form__input {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 2px solid rgba(#a9a9a9, 0.2);
  padding-bottom: 7px;
  font-size: 16px;
  color: $black;
  margin-bottom: 28px;

  &:last-child {
    margin-bottom: 24px;
  }

  &::-webkit-input-placeholder {
    color: #a9a9a9;
  }

  &::-moz-placeholder {
    color: #a9a9a9;
  }

  &:-ms-input-placeholder {
    color: #a9a9a9;
  }

  &:-moz-placeholder {
    color: #a9a9a9;
  }

  &:focus, &:hover, &:active {
    border-bottom: 2px solid $black;
  }
}

.modal-form__policy {
  font-size: 10px;
  text-align: center;
  color: #a9a9a9;
  margin-bottom: 0;
  margin-top: 8px;

  @media (max-width: 650px) {
    font-size: 10px !important;
  }

  button {
    @include reset-btn;
    color: #a9a9a9;
    text-decoration: underline;
    font-size: 10px;
  }
}
