.numbers {
  padding-top: 60px;
  padding-bottom: 104px;

  @media (max-width: 1200px) {
    padding-bottom: 30px;
  }

  @media (max-width: 991px) {
    padding-top: 50px;
  }

  @media (max-width: 650px) {
    padding-top: 30px;
  }
}

.numbers__title {
  @include title;
  margin-bottom: 71px;
  @include max-width(824px);
  margin-left: auto;
  color: black;

  span {
    color: $blue;
  }

  @media (max-width: 1200px) {
    margin-right: auto;
  }

  @media (max-width: 1120px) {
    margin-bottom: 50px;
  }

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }
}

.numbers__list {
  @include reset-list;
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  @include max-width(800px);
  margin-left: auto;

  @media (max-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }

  @media (max-width: 650px) {
    gap: 30px;
  }
}

.numbers__item {
  @include max-width(340px);
  padding-left: 94px;
  position: relative;
  font-size: 28px;

  @media (max-width: 650px) {
    padding-left: 0px;
  }

  &::before {
    position: absolute;
    left: 0px;
    z-index: -1;
    top: -20px;

    @media (max-width: 650px) {
      content: none !important;
    }
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i})::before {
      content: url('/src/img/icons/numbers/#{$i}.svg');
    }
  }

  span {
    font-size: 22px;
    line-height: 1.27;
    font-weight: bold;
  }

  b {
    font-weight: bold;
    font-size: 38px;

    @media (max-width: 650px) {
      font-size: 30px;
    }
  }

  b.large {
    font-size: 48px;
  }
}

.numbers__container {
  position: relative;
}

.numbers__owner-img {
  position: absolute;
  left: -317px;
  top: -215px;

  @media (max-width: 1500px) {
    left: -201px;
    top: -235px;
    z-index: -2;
  }

  @media (max-width: 1200px) {
    position: relative;
    left: 0;
    top: 0;
    @include max-width(645px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  @media (max-width: 650px) {
    margin-top: 20px;
  }
}
