@import './lib/reboot.scss';
@import './lib/fonts.scss';
@import './base/variables.scss';
@import './base/mixins.scss';
@import './base/global.scss';
@import './components/modal.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/priv-policy.scss';

.thanks__html,
.thanks__body {
  height: 100%;
}

.thanks__body {
  background-image: url('/src/img/bgs/thanks-bg.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.thanks__wrapper {
  display: flex;
  flex-direction: column;
}

.thanks__footer {
  flex: 0 0 auto;
}

.thanks__header {
  flex: 0 0 auto;
}

.thanks__container,
.thanks__main,
.thanks__wrapper {
  height: 100%;
}

.thanks__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thanks {
  padding-top: 37px;
  padding-bottom: 37px;
  flex: 1 0 auto;

  @media (max-width: 1700px) {
    overflow: hidden;
  }

  @media (max-width: 650px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.thanks__content {
  @include max-width(825px);
  position: relative;

  @media (max-width: 1120px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.thanks__owner {
  position: absolute;
  right: -573px;
  top: -86px;

  @media (max-width: 1700px) {
    top: -50px;
  }

  @media (max-width: 1300px) {
    right: -479px;
  }

  @media (max-width: 1120px) {
    top: 0px;
    right: 0;
    position: relative;
    @include max-width(541px);
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }
}

.thanks__title {
  font-size: 34px;
  line-height: 1.12;
  margin-bottom: 15px;
}

.thanks__text {
  @include max-width(635px);
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 15px;
}

.thanks__work-time {
  @include max-width(645px);
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 6px;

  b {
    font-weight: bold;
  }
}

.thanks__note {
  @include max-width(600px);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 15px;
}

.thanks__list-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.thanks__list {
  @include reset-list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 74px;
  margin-bottom: 22px;

  @media (max-width: 720px) {
    gap: 13px;
    margin-bottom: 20px;
  }
}

.thanks__item {
  position: relative;
  font-size: 20px;
  line-height: 1.4;

  a {
    color: black;
    padding-right: 85px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover,
    &:focus,
    &:active {
      color: black;
      text-decoration: underline;
    }
  }

  &:nth-child(1)::after {
    width: 60px;
    height: 60px;
    background-image: url('/src/img/icons/insta.png');
  }
  &:nth-child(2)::after {
    width: 65px;
    height: 65px;
    background-image: url('/src/img/icons/logo-thanks.png');
  }

  &::after {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    @include bg;
    pointer-events: none;
  }
}

.thanks__mark {
  font-weight: 600;
  color: $blue;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 30px;

  @media (max-width: 650px) {
    margin-bottom: 20px;
  }
}

.thanks__mark-link {
  color: $blue;
  text-decoration: underline;

  &:focus,
  &:active,
  &:hover {
    color: $blue;
  }
}

.thanks__back-link {
  color: #7b00b5;
  font-weight: 700;
  font-size: 20px;
  display: inline-block;

  &:focus,
  &:active,
  &:hover {
    color: #7b00b5;
  }

  @media (max-width: 1120px) {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
